<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adding Stay Period</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="period-body">
  <header class="period-header">
  <img src="/images/favicon.ico" alt="Company Logo">
</header>

<div class="period-form-container">
  <h2>Adding Stay Period</h2>

  <form class="period-form" action="/register/submitNewStayPeriod" method="post">
    <div>
      <label>Name:</label>
      <p th:text="${patient.name}">Name</p>
    </div>

    <div>
      <label>Surname:</label>
      <p th:text="${patient.surname}">Surname</p>
    </div>

    <div>
      <label>Passport ID:</label>
      <p th:text="${patient.passportID}">Passport ID</p>
    </div>

    <div>
      <label>Current Date:</label>
      <p th:text="${#temporals.format(localDate, 'dd-MM-yyyy')}">date</p>
    </div>

    <div>
      <label for="travelVoucher">Travel Voucher:</label>
      <select id="travelVoucher" name="travelVoucher" required>
        <option value="" th:if="${stayPeriod.travelVoucher == null}" selected>-- Select a voucher --</option>
        <option th:each="voucher : ${T(patientmanager.entities.TravelVoucher).values()}"
                th:value="${voucher}"
                th:text="${voucher}"
                th:selected="${voucher == stayPeriod.travelVoucher}"></option>
      </select>
    </div>

    <button class="period-button" type="submit">Save Stay Period</button>
  </form>
</div>
</div>
</body>
</html>
