<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Error</title>
</head>
<body>
<div class="error-body">
<header class="error-header">
    <img src="/images/favicon.ico" alt="Company Logo">
</header>
<div class="error-container">
    <h1>Access Denied</h1>
    <p th:text="${errorMessage ?: 'You cannot access this page directly.'}">You cannot access this page directly.</p>
    <p th:if="${errorDetails}" th:text="'Details: ' + ${errorDetails}"></p>
    <button class="error-button" onclick="window.location.href='/register'">Go Back</button>
</div>
</div>

</body>
</html>
