<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home</title>
</head>
<body>
<div class="home-body">
<header class="home-header">
  <img src="/images/favicon.ico" alt="Company Logo">
</header>

<div class="auth-buttons">
  <div sec:authorize="!isAuthenticated()">
    <button onclick="window.location.href='/login'">Login</button>
  </div>

  <div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post" style="display: inline;">
      <button type="submit">Logout</button>
    </form>
  </div>
</div>

<div class="home-container">
  <h2 class="home-subtitle">Choose an Option</h2>
  <button onclick="window.location.href='/register'">Registration</button>
  <button onclick="window.location.href='/patient'">Patient Details</button>
  <button onclick="window.location.href='/procedures'">Procedures</button>
  <button onclick="window.location.href='/medicines'">Medicines</button>
</div>

</div>

</body>
</html>