<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Page with Input</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="passport-body">
<header class="passport-header">
  <img src="/images/favicon.ico" alt="Company Logo" />
</header>

<h2 th:text="${displayText}">Default text if no message</h2>
<form  id="dynamicForm" method="post">
  <input  type="hidden" id="sessionType" name="sessionType" th:value="${type}" />
  <label>
    <input class="passport-input" type="text" name="input" placeholder="Enter passport ID"
           pattern="[A-Z][0-9]{13}"
           title="Must start with an uppercase letter followed by 13 digits"
           required>
  </label>
  <button class="passport-button" type="submit">Submit</button>
</form>

<script>
  document.getElementById('dynamicForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const form = document.getElementById('dynamicForm');
    const type = document.getElementById('sessionType').value;

    if (type === 'patientInfo') {
      form.action = '/patient/submit';
    } else {
      form.action = '/register/submit';
    }

    form.submit();
  });
</script>
</div>

</body>
</html>
