<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Details</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>

  </style>
</head>
<body>
<div class="patient-details-body">
<header class="patient-details-header">
  <img src="/images/favicon.ico" alt="Company Logo">
</header>
<div class="patient-details-container">
  <h2>Patient Details</h2>
  <div>
    <label>Name:</label>
    <p th:text="${patient.name}">Name of the patient</p>
  </div>
  <div>
    <label>Surname:</label>
    <p th:text="${patient.surname}">Surname of the patient</p>
  </div>
  <div>
    <label>Passport ID:</label>
    <p th:text="${patient.passportID}">Passport ID of the patient</p>
  </div>
  <div>
    <label>Birth Date:</label>
    <p th:text="${patient.birthDate}">Birth Date of the patient</p>
  </div>
  <div>
    <label>Address:</label>
    <p th:text="${patient.address}">Address of the patient</p>
  </div>
</div>

<div class="patient-details-container">
  <h2>Stay Periods</h2>
  <table class="patient-details-table">
    <thead>
    <tr>
      <th>Admission Date</th>
      <th>Discharge Date</th>
      <th>Travel Voucher</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="period : ${periodList}">
      <td th:text="${period.admissionDate}">01-01-2024</td>
      <td th:text="${period.dischargeDate}">01-10-2024</td>
      <td th:text="${period.travelVoucher}">Travel voucher</td>
    </tr>
    </tbody>
  </table>
</div>

<button class="patient-details-button" onclick="window.location.href='/register'">Go Back</button>
</div>

</body>
</html>
