<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Form</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

 <div class="patient-form-body">
<header class="patient-form-header">
  <img src="/images/favicon.ico" alt="Company Logo">
</header>

<div class="patient-form-container">
  <h2>Patient Form</h2>
  <form class="patient-form" action="/register/submitPatient" method="post">
    <label for="name">Name:</label>
    <span class="patient-form-error-message" th:if="${#fields.hasErrors('patient.name')}"
          th:errors="*{patient.name}">Name Error</span>
    <input type="text" id="name" name="name" placeholder="Enter name"
           th:value="${patient.name != null and !patient.name.isEmpty() ? patient.name : ''}" required>

    <label for="surname">Surname:</label>
    <span class="patient-form-error-message" th:if="${#fields.hasErrors('patient.surname')}"
          th:errors="*{patient.surname}">Surname Error</span>
    <input type="text" id="surname" name="surname" placeholder="Enter surname"
           th:value="${patient.surname != null and !patient.surname.isEmpty() ? patient.surname : ''}" required>


    <label for="passportID">Passport ID:</label>
    <span class="patient-form-error-message" th:if="${#fields.hasErrors('patient.passportID')}"
          th:errors="*{patient.passportID}">Passport error</span>
    <input type="text" id="passportID" name="passportID"
           th:value="${patient.passportID != null ? patient.passportID : passportID}" readonly>


    <label for="birthDate">Birth Date:</label>
    <span class="patient-form-error-message" th:if="${#fields.hasErrors('patient.birthDate')}"
          th:errors="*{patient.birthDate}">Birth date error</span>
    <input type="date" id="birthDate" name="birthDate"
           th:value="${patient.birthDate != null ? patient.birthDate : ''}" required>


    <label for="address">Address:</label>
    <span class="patient-form-error-message" th:if="${#fields.hasErrors('patient.address')}"
          th:errors="*{patient.address}">Address error</span>
    <input type="text" id="address" name="address" placeholder="Enter address"
           th:value="${patient.address != null and !patient.address.isEmpty() ? patient.address : ''}" required>

      <label for="travelVoucher">Travel Voucher:</label>
      <select id="travelVoucher" name="travelVoucher" required>
        <option value="" th:if="${stayPeriod.travelVoucher == null}" selected>-- Select a voucher --</option>
        <option th:each="voucher : ${T(patientmanager.entities.TravelVoucher).values()}"
                th:value="${voucher}"
                th:text="${voucher}"
                th:selected="${voucher == stayPeriod.travelVoucher}"></option>
      </select>


    <button class="patient-form-button" type="submit">Submit</button>
  </form>
</div>
   </div>
</body>
</html>
