<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page with Buttons</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="registration-body">
<header class="registration-header">
    <img src="/images/favicon.ico" alt="Company Logo" />
</header>

<div class="registration-buttons">
    <button class="registration-button" onclick="window.location.href='register/navigate?button=registration'">Registration</button>
    <button class="registration-button" onclick="window.location.href='register/navigate?button=discharge'">Discharge</button>
    <button class="registration-button" onclick="window.location.href='register/statistics'">Statistics</button>
    <button class="registration-button" onclick="window.location.href='register/navigate?button=search'">Search for patient</button>
    <button class="registration-button" onclick="window.location.href='/'">Go Back</button>
</div>
</div>
</body>
</html>
